.subreddit-container {
  width: 90%;
  height: 60px;
  margin: 7px;
}
.subreddit {
  width: 100%;
  /* width: 90%; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  /* margin: 7px; */
  border-radius: 2px;
  position: relative;
  top: -56px;
}

.subreddit img {
  margin: 4px 5px;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.subreddit h2 {
  margin: 10px 5px 10px;
  color: #2b2b2b;
}

/* Default style */
/* .subreddit-default {
  width: 100%;
  height: 60px;
  background-color: #fbfbfb;
} */
.subreddit-background-default {
  width: 100%;
  height: 60px;
  background-color: #fbfbfb;
}

.subreddit-default img {
  border: 3px solid #706f6f;
}

/* Selected style */
/* .subreddit-selected {
  background-color: #79b9e0;
}

.subreddit-selected img {
  border: 3px solid #2d3fe0;
} */

.subreddit-background-selected {
  width: 100%;
  height: 60px;
  background-color: #79b9e0;
  opacity: 0.5;
}

.subreddit-selected img {
  border: 3px solid #2d3fe0;
}

/* Hovered style */
/* .subreddit-hovered { */
/* background-color: #dfdfdf;
}

.subreddit-hovered img {
  border: 3px solid #706f6f;
} */
.subreddit-background-hovered {
  width: 100%;
  height: 60px;
  background-color: #dfdfdf;
}

.subreddit-hovered img {
  border: 3px solid #706f6f;
}
