/* General */
.post-fullpage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 3px 10px #b7e0f7;
}

/* User name */
.post-fullpage h2 {
  color: #2d3fe0;
  margin: 10px 10px 5px;
  align-self: flex-start;
  text-align: left;
}
/* Date */
.post-fullpage .date {
  margin: 0 10px;
  align-self: flex-start;
  color: #706f6f;
  font-size: 0.7rem;
}

/* Description */
.post-fullpage-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  align-items: center;
  margin: 10px 0 0 0;
}
/* Post content */
.post-fullpage-content h3,
.post-fullpage-content h4 {
  margin: 0;
  align-self: flex-start;
  margin: 5px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}
.post-fullpage-content img,
.post-fullpage-content video {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.post-fullpage-content hr {
  width: 100%;
  margin: 10px 0;
}

/* Up down comment control panel */
.post-fullpage .up-down-comment {
  display: flex;
  width: 90%;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.post-fullpage .up-down-comment .arrows {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
}
.post-fullpage .up-down-comment .mock-comment-button {
  color: #706f6f;
  display: flex;
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 10px;
  border-radius: 2px;
}

.post-fullpage .up-down-comment p {
  font-size: 0.8rem;
  margin-left: 3px;
  color: #706f6f;
}

.post-fullpage .up-down-comment .arrow-up {
  padding: 10px;
  border-radius: 2px;
}
.post-fullpage .up-down-comment .arrow-up-default {
  color: #706f6f;
}
.post-fullpage .up-down-comment .arrow-up-hovered {
  color: #de551f;
  background-color: #dfdfdf;
}

.post-fullpage .up-down-comment .arrow-down {
  margin-left: 3px;
  padding: 10px;
  border-radius: 2px;
}
.post-fullpage .up-down-comment .arrow-down-default {
  color: #706f6f;
}
.post-fullpage .up-down-comment .arrow-down-hovered {
  color: #de551f;
  background-color: #dfdfdf;
}
