.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mock-comments {
  height: auto;
  width: 90%;
}

.comments-error {
  color: #706f6f;
  padding: 10px 0;
}
