.post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 3px 10px #b7e0f7;
}

/* User name */
.post h2 {
  color: #1496df;
  margin: 5px 10px;
  align-self: flex-start;
}
/* Date */
.post > p {
  margin: 0 10px;
  align-self: flex-start;
  color: #706f6f;
  font-size: 0.7rem;
}

/* Description */
.post-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  align-items: center;
  margin: 10px 0 0 0;
}

/* Post content */
.post-content h3,
.post-content h4 {
  margin: 0;
  align-self: flex-start;
  margin: 5px;
  text-align: left;
}

.post-content img,
.post-content video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post-content hr {
  width: 100%;
  margin: 10px 0;
}

/* Up down comment control panel */
.up-down-comment {
  display: flex;
  width: 90%;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.up-down-comment .arrows {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
}
.up-down-comment .comment-button {
  display: flex;
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 10px;
  border-radius: 2px;
}

.up-down-comment p {
  font-size: 0.8rem;
  margin-left: 3px;
}

.up-down-comment .arrow-up {
  padding: 10px;
  border-radius: 2px;
}

.up-down-comment .arrow-down {
  margin-left: 3px;
  padding: 10px;
  border-radius: 2px;
}
