.post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 3px 10px #b7e0f7;
  text-decoration: inherit;
}

/* User name */
.post h2 {
  color: #2d3fe0;
  margin: 5px 10px;
  align-self: flex-start;
}
/* Date */
.post > p {
  margin: 0 10px;
  align-self: flex-start;
  color: #706f6f;
  font-size: 0.7rem;
}

/* Description */
.post-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  align-items: center;
  margin: 10px 0 0 0;
  color: #2b2b2b;
}

/* Post content */
.post-content h3,
.post-content h4 {
  margin: 0;
  align-self: flex-start;
  margin: 5px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

.post-content img,
.post-content video {
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 0;
}

.post-content hr {
  width: 100%;
  margin: 10px 0;
}

/* Up down comment control panel */
.post .up-down-comment {
  display: flex;
  width: 90%;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post .up-down-comment .arrows {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
}
.post .up-down-comment .comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 10px;
  border-radius: 2px;
}

.post .up-down-comment p {
  font-size: 0.8rem;
  margin-left: 3px;
  color: #706f6f;
}

.post .up-down-comment .arrow-up {
  padding: 10px;
  border-radius: 2px;
}

.post .up-down-comment .arrow-down {
  margin-left: 3px;
  padding: 10px;
  border-radius: 2px;
}

@media only screen and (max-width: 440px) {
  /* User name */
  .post h2 {
    font-size: 0.9rem;
  }
}
