.search-result {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: inherit;
}

.search-result img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 25px;
  border: 2px solid #2b2b2b;
  margin: 5px 10px;
}

.search-result h3 {
  color: #2b2b2b;
  word-break: break-all;
  word-wrap: break-word;
}

.search-result-default {
  background-color: #ecf1f1;
}
.search-result-hovered {
  background-color: #b7e0f7;
}
