.search-bar {
  width: 300px;
  margin: auto 20px;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
}

input {
  background-color: #fff;
  width: 200px;
  height: 40px;
  padding: 0;
  border: none;
  font-size: 1rem;
  margin: auto 10px;
}

input:focus {
  border: none;
  outline: none;
}

::placeholder {
  color: #706f6f;
}

/* .search-error {
  border-radius: 3px;
  background-color: #ecf1f1;
  padding: 10px 0;
  position: absolute;
  top: 63px;
  width: 300px;
} */

/* .search-error em {
  color: #706f6f;
} */

.mock-search-results {
  border-radius: 3px;
  background-color: #ecf1f1;
  position: absolute;
  top: 63px;
  width: 300px;
}

.search-results-and-subreddits {
  z-index: 10;
  position: absolute;
  top: 63px;
  width: fit-content;
}

@media only screen and (max-width: 1000px) {
  .magnifier {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .search-bar {
    margin-left: 10px;
    padding-left: 5px;
    width: fit-content;
  }

  input {
    width: 150px;
  }

  .mock-search-results {
    width: 100%;
    left: 0;
  }

  .search-results-and-subreddits {
    left: 0;
  }
}
