.search-bar {
  width: 300px;
  margin: auto 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b7e0f7;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
}

input {
  background-color: #b7e0f7;
  width: 200px;
  height: 40px;
  padding: 0;
  border: none;
  font-size: 1rem;
  margin: auto 10px;
}

input:focus {
  border: none;
  outline: none;
}

::placeholder {
  color: #706f6f;
}
